<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <h3 class="text-center">Planilla</h3>
      <div class="separator"></div>
      <div style="overflow-x:auto">
        <table class="table table-responsive-md table-hover" border="0">
          <thead>
            <tr>
              <th>Mes</th>
              <th>Salario</th>
              <th>Comisión</th>
              <th>Total</th>
              <th>ISSS</th>
              <th>AFP</th>
              <th>Total</th>
              <th>Remuneración gravada</th>
              <th>ISR</th>
            </tr>
          </thead>
          <tbody>
            {_DATA_}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
